.editor {
  .title {
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: row;
    .back {
      padding: 0.7rem 2rem;
      margin: 1.3rem;
      color: #28a745;
      border: 1px solid #28a745;
      font-size: 1rem;
      cursor: pointer;
    }
    .input {
      font-size: 1.8rem;
      height: 90%;
      border: 0;
    }
    .input:focus {
      border: 0;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0 rgba(24, 144, 255, 0.2);
    }
  }
  .content {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 12px 0;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
    .left {
      margin-left: 1.3rem;
      width: 30%;
      display: flex;
      flex-direction: row;
    }
    .center {
      width: 40%;
      padding: 0 1rem
    }
    .right {
      margin-right: 1.3rem;
      width: 25%;
      display: flex;
      flex-direction: row;
      .save {
        height: 2.2rem;
        padding: 0.25rem 2rem;
        color: #28a745;
        border: 1px solid #28a745;
        font-size: 1rem;
        cursor: pointer;
      }
      .submit {
        height: 2.2rem;
        margin-left: 2rem;
        background-color: #28a745;
        padding: 0.25rem 2rem;
        color: #FFFFFF;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}
