.header {
  background: #FFFFFF !important;
  padding: 0 !important;
  position: relative;
  .breadcrumb {
    margin: 15px 18px !important;
    font-size: 18px !important;
  }
  .dropdown {
    position: absolute !important;
    top: 0%;
    right: 5%;
  }
  .avatar {
    margin-bottom: 5px !important;
    margin-right: 5px !important;
  }
}
